* {
margin: 0;
padding: 0;
}

.cabecalho {
    background-color: #030B4E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 20%;
}
.cabecalho-lista {

}
.cabecalho-item {
    display: inline-block;
    margin: 0 16;
    font-size: 24px;
}
.escola {
    background-color: linear-gradient(#030B4E,#3B4BD1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-imagem {
    width: 25%;
}
.filme-conteudo {
    width: 35%;
}
.escola-titulo {
    padding: 24px 0;
}