* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: linear-gradient(#030B4E,#3B4BD1);
}
.cabecalho {
    background-color: #030B4E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 20%;
}
.cabecalho-lista {

}
.cabecalho-item {
    display: inline-block;
    margin: 0 16;
    font-size: 24px;
}
.filme {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.imagem-filme {
    width: 25%;
}
.filme-conteudo {
    width: 35%;
}
.filme-titulo {
    padding: 24px 0;
}
.personagem-foto {
    width: 25%
}
.personagens-titulo {
    padding: 50px 0;
    text-align: center;
}
.personagem-div {
    
}
.personagens-todos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}